

.App{
    width: 200px;
}
.Component3 input{
    width: 250px;
    height: 30px;
    background-color: black;
    border: black;
    color: white;
    font-size: 30px;
}
body{
    background-color:black;
}
.div3{
    display: flex;
    flex-wrap: wrap;
    height: 200px;   
}
.aaa{
    background-color: #313131;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
 color: white;
 padding-top: 5px;
}
.aaaa{
    background-color: #313131;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 25px;
    border: none;
 color: white;
 padding-top: 5px;
 text-align: left;
 padding-left: 15px;
}
.div4{
    width: 50px;
    height: 250px;

}
.divv1{
    display: flex;
}
.divv1 input{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
 color: black;
 padding-top: 5px;
 background-color:#a8a8a8;
}
.div4 input{
    background-color: #313131;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
 color: white;
 padding-top: 5px;
 background-color: #ffc905eb;
}
.divv{
    width: 150px;
    display: flex;
}
.divv2{
    display: flex;
    width: 200px;
    height: 50px;
}